# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="postgresql://postgres:not3dbut2y@localhost:5432/telebotionDB"

NOTION_TOKEN=xxxxxxxxxx

ASSIGNING_BOT_TOKEN=xxxxxxxxxx
SUBMITTING_BOT_TOKEN=xxxxxxxxxx

# Database IDs (untuk retrieve)
USER_DATABASE_ID=xxxxxxxxxx
WP_ACTIVITY_DATABASE_ID=xxxxxxxxxx
ASSIGNING_DATABASE_ID=xxxxxxxxxx
SUBMITTING_DATABASE_ID=xxxxxxxxxx

# Data Source IDs (untuk query - SDK v5)
USER_DS_ID=xxxxxxxxxx
WP_ACTIVITY_DS_ID=xxxxxxxxxx
ASSIGNING_DS_ID=xxxxxxxxxx
SUBMITTING_DS_ID=xxxxxxxxxx
